addons:
  apt:
    packages:
    - oracle-java8-installer
language: php
php:
  - 7.0
  - 7.1
before_script:
  - mkdir -p build/logs
  - mkdir -p build/cov
  - composer install --dev --no-interaction --prefer-source
script:
  - php vendor/phpunit/phpunit/phpunit -c phpunit.xml.dist
after_script:
  - php vendor/bin/coveralls -v -c .coveralls.yml
